<div id="kenburns-slideshow"></div>
<div class="kv-container">
    <div class="kv-content">
        <div class="nav clearfix" data-spy="affix" data-offset-top="80">
            <div class="nav-content">
                <img ng-src="images/logo.svg" class="logo">
                <div class="medias">
                    <div>
                        <a target="_blank" href="https://www.facebook.com/waveappteam">
                            <img ng-src="images/icon-fb.svg" class="fb">
                        </a>
                    </div>
                    <div>
                        <a target="_blank" href="https://twitter.com/waveappteam">
                            <img ng-src="images/icon-twitter.svg" class="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h4 id="kv-title"></h4>
        <p id="kv-subtitle" class="font-openSans-light"></p>
        <div class="submit-box">
            <form name="myForm" class="clearfix" method="POST">
                <input name='userEmail' class="font-openSans-light" ng-pattern='/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/' type="email" placeholder="Enter your email to get the beta" ng-model="userEmail" required>
                <input class="font-openSans-bold submitBtn" type="submit" value="Submit" ng-disabled="myForm.userEmail.$invalid" ng-click="sendEmail(userEmail)">
                <!-- <button class="font-openSans-bold" ng-disabled="myForm.userEmail.$invalid" ng-click="sendEmail()">Submit</button> -->
            </form>
            <div class="error font-openSans-light" ng-show="myForm.userEmail.$error.pattern">Please enter a correct email address</div>
        </div>
        <div class="more" ng-click="more()">
            <span class="font-openSans-regular">Learn more</span>
            <img ng-src="images/more-arrow.png">
        </div>
    </div>
</div>

<div class="slider-wrapper default">
    <!-- <h1 class="font-openSans-bold">How it works</h1> -->
    <div id="slider">
        <div class="slider-1">
            <div class="content from-top">
                <h2 class="font-openSans-regular">A beautiful, simple email experience.</h2>
                <p class="font-openSans-light">A clean interface that makes short work of long messages. No addresses, no quotes, no signatures.</p>
            </div>
            <div class="phone-contianer">
                <img src="images/slider-1.gif">
            </div>
        </div>
        <div class="slider-2">
            <div class="content from-top">
                <h2 class="font-openSans-regular">Combine the speed of instant messaging with the power of email.</h2>
                <p class="font-openSans-light">Share short messages, attach photos, and hold group conversations on the go, all while knowing everything is backed up by your inbox.</p>
            </div>
            <img src="images/slider-2.png">
        </div>
        <div class="slider-3">
            <div class="content from-top">
                <h2 class="font-openSans-regular">Intelligent filtering that puts people first.</h2>
                <p class="font-openSans-light">Declutter your inbox by automatically filing away newsletters and social updates. After all, email was made for people, not robots.</p>
            </div>
            <img src="images/slider-4.png">
        </div>
    </div>
</div>
<div class="apply-container">
    <h1 class="font-openSans-bold">Apply for the Wave Beta</h1>
    <h4 class="font-openSans-regular">Coming soon to the App Store</h4>
    <div class="submit-box">
        <form name="myForm1" class="clearfix">
            <input name='userEmail1' class="font-openSans-light" ng-pattern='/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/' type="email" placeholder="Enter your email to get Beta" ng-model="userEmail1" required>
            <input class="font-openSans-bold submitBtn" type="submit" value="Submit" ng-disabled="myForm1.userEmail1.$invalid" ng-click="sendEmail(userEmail1)">
            <!-- <button class="font-openSans-bold" ng-disabled="myForm1.userEmail1.$invalid" ng-click="sendEmail()">Submit</button> -->
        </form>
    </div>
    <!-- <p class="font-openSans-light">No spam. Your email address will only be used for applying for the beta.</p> -->
    <p class="error font-openSans-light" ng-show="myForm1.userEmail1.$error.pattern">Please enter a correct email address</p>
</div>
<div ng-include src="'templates/partials/sendModal.html'"></div>