<div class="about-container">
	<h3>About us</h3>
    <p>In a world where social networking and instant messaging dominates how we communicate, why does email on smartphones continue to be so complicated? </p>

	<p>Wave is the culmination of a two-year project to bring simplicity and speed to email, in an effort to make email on mobile devices work the way users want it to work.</p>

	<p>Founded by previous employees of Yahoo and Alibaba, Just Mobile stretches the globe with offices in San Francisco and Beijing's Silicon Valley.</p>

	<p>We’re no stranger to the world of email clients. Our first app SeedMail was released in 2012 to excellent feedback.</p>

	<blockquote>"Seed Mail doesn't shoot for the moon, but rather packages great design and a few sensible yet creative touches, into one special email client app. No need for eye-rolling. Seed Mail's a keeper." -- Jill Duffy, PC Mag
	</blockquote>

</div>