<footer>
    <div class="footer-content clearfix font-openSans-light">
        <ul class="clearfix">
            <li>
                <a href="mailto:hello@waveapp.im" target="_top">Contact</a></li>
            <li>
                <a target="_blank" href="http://www.waveapp.im/#/about">About</a>
                <!-- <a target="_blank" href="http://www.waveapp.im/#/about">About</a> -->
            </li>
            <li>
                <a target="_blank" href="http://www.waveapp.im/#/terms">Privacy</a>
            </li>
            <li>
                <a target="_blank" href="http://www.waveapp.im/terms">Terms</a>
            </li>
        </ul>
        <div class="copywrite">&copy; Just Mobile</div>
    </div>
</footer>
