<div class="nav">
    <div class="nav-content clearfix">
        <a href="http://www.waveapp.im"><img ng-src="images/logo.svg" class="logo"></a>
        <div class="medias">
            <div target="_blank" href="https://www.facebook.com/waveappteam">
                <img ng-src="images/icon-fb.svg" class="fb">
            </div>
            <div target="_blank" href="https://twitter.com/waveappteam">
                <img ng-src="images/icon-twitter.svg" class="">
            </div>
        </div>
    </div>
</div>