<div class="privacy-container clearfix">
    <div class="filters">
        <ul>
            <li class="active tag-privacy" ng-click="filter('privacy')">Privacy</li>
            <li class="tag-terms" ng-click="filter('terms')">Terms</li>
        </ul>
    </div>
    <ul class="privacy-terms">
        <li class="privacy active">
            <h3>Privacy title</h3>
            <h5>Privacy</h5>
            <p>This week Apple made changes that may affect iCloud users on Mailbox.</p>
            <p>Users who have two-step verification (also called two factor authentication or 2fa) enabled on their iCloud account are now required to use an app-specific password for third party apps, including Mailbox. If this is you, Mailbox will ask to re-authorize your iCloud account. Until you do, Mailbox cannot sync or send messages.</p>
            <p>Once you do this, you will need to update your iCloud account on Mailbox by doing the following:</p>
            <p>remove your iCloud account from Mailbox, either through Mailbox Settings or by selecting “Delete” (instead of “Reauthorize”) on the in-app pop-up</p>
            <p>sign back in with your iCloud app-specific password</p>
            <p>This will resume normal Mailbox activity.</p>
            <p>Thanks for using Mailbox!</p>
        </li>

        <li class="terms">
            <h3>Terms title</h3>
            <h5>Posted on Oct 10, 2014</h5>
            <p>Here’s how the beta rollout works: if you signed up for the wait list, keep an eye on your email over the coming weeks — we’ll be sending you a small attachment that we call a betacoin. This coin will unlock your copy of Mailbox for Mac and turn on the mobile “snooze to desktop” feature.</p>
            <p>If you haven’t yet signed up for the beta, you can do so here. We’ll continue to improve the product and grow the number of testers over the coming weeks.</p>
            <p>Draft Support Support for drafts is one of the most common feature requests for Mailbox and becomes even more important when managing an inbox across multiple devices. Along with the rollout of Mailbox for Mac beta, we’re also launching draft support for Mailbox on desktop and iOS (coming soon on Android). </p>
        </li>
    </ul>
</div>