<div class="privacy-container clearfix">
    <h3>Privacy title</h3>
    <h5>Privacy</h5>
    <p>This week Apple made changes that may affect iCloud users on Mailbox.</p>
    <p>Users who have two-step verification (also called two factor authentication or 2fa) enabled on their iCloud account are now required to use an app-specific password for third party apps, including Mailbox. If this is you, Mailbox will ask to re-authorize your iCloud account. Until you do, Mailbox cannot sync or send messages.</p>
    <p>Once you do this, you will need to update your iCloud account on Mailbox by doing the following:</p>
    <p>remove your iCloud account from Mailbox, either through Mailbox Settings or by selecting “Delete” (instead of “Reauthorize”) on the in-app pop-up</p>
    <p>sign back in with your iCloud app-specific password</p>
    <p>This will resume normal Mailbox activity.</p>
    <p>Thanks for using Mailbox!</p>
</div>