<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="close" data-dismiss="modal"></div> -->
            <div class="modal-body">
                <img src="images/wave.svg">
                <p class="font-openSans-regular">
                    Thanks for your interest. We will get back to you very soon.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default font-openSans-bold" data-dismiss="modal">Okay</button>
              </div>
        </div>
    </div>
</div>