<div class="about-container">
    <h3>Terms title</h3>
    <h5>Posted on Oct 10, 2014</h5>
    <p>Here’s how the beta rollout works: if you signed up for the wait list, keep an eye on your email over the coming weeks — we’ll be sending you a small attachment that we call a betacoin. This coin will unlock your copy of Mailbox for Mac and turn on the mobile “snooze to desktop” feature.</p>
    <p>If you haven’t yet signed up for the beta, you can do so here. We’ll continue to improve the product and grow the number of testers over the coming weeks.</p>
    <p>Draft Support Support for drafts is one of the most common feature requests for Mailbox and becomes even more important when managing an inbox across multiple devices. Along with the rollout of Mailbox for Mac beta, we’re also launching draft support for Mailbox on desktop and iOS (coming soon on Android). </p>
</div>